---
---

@import "{{ site.theme }}";


.nav a {
    color: #2e6b95;
    font-size: 18;
    font-weight: bold;
}

.nav .current {
    background-color: black;
}

header h1 a {
    color: #2e6b95;
}

header li {
    width: auto;
    float: none;
    border-right: none;
    height: auto;
}

header ul {
    height: auto;
    background: white;
    border: none;
}

header ul a {
    font-size: 14px;
    display: inline;
    color: #267CB9;
}

header ul li + li + li {
    border-right: none;
    width: auto;
}