---
---

@import "{{ site.theme }}";


.nav a{
    color: darkblue;
    font-weight: 800;
}

.nav .current {
    background-color: black;
}

header li {
    width: auto;
    float: none;
    border-right: none;
    height: auto;
}

header ul {
    height: auto;
    background: white;
    border: none;
}

header ul a {
    font-size: 14px;
    display: inline;
}

header ul li + li + li {
    border-right: none;
    width: auto;
}